# On Build
ci/
src/
esbuild.log
.releaserc.json
dist/suitcasejs-*

# GitHub
.github/
configs/
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SuitcaseJS_Logo.png

# VSCode & Dev Stuff
.vscode/
tsconfig.json
.prettierignore
eslint.config.mjs